# ============================================================
# Variables de entorno - Bitácora Hidroeléctrica
# ============================================================

# Base de datos
POSTGRES_PORT=5434
POSTGRES_DB=bitacora_db
POSTGRES_USER=bitacora_user
POSTGRES_PASSWORD=bitacora_password

# Backend Spring Boot
BACKEND_PORT=8081
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# Frontend React
FRONTEND_PORT=8443
VITE_API_URL=http://localhost:8081/api/v1

# Zona horaria
TZ=America/Bogota
